.row1{
width: 100%;
height: 100px;
background-color: red;
}
.row2{
width: 100%;
height: 100px;
background-color: green;
}
.row3{
width: 100%;
height: 100px;
background:green;
}
.row4{
width: 100%;
height: 100px;
background:green;
}
.row5{
width: 100%;
height: 100px;
background:green;
}
.row6{
width: 100%;
height: 100px;
background:green;
}
.row7{
width: 100%;
height: 100px;
background:green;
}
.row8{
width: 100%;
height: 100px;
background:green;
}
.row9{
width: 100%;
height: 100px;
background:green;
}

.Row1{
width: 100%;
height: 100px;
background-color: red;
}
.Row2{
width: 100%;
height: 100px;
background-color: green;
}
.Row3{
width: 100%;
height: 100px;
background:linear-gradient(to right, red 80px 150px, green 100px 20px);
}
.Row4{
width: 100%;
height: 100px;
background-color: red;
}
.Row5{
width: 100%;
height: 100px;
background-color: green;
}
.Row6{
width: 100%;
height: 100px;
background-color: red;
}
.Row7 {
display: grid;
background-color: red;
height: 100px;
width: 100%;
}
.blue{
grid-row: 1;
background-color: blue;
width: 80%;
height: 33px;
margin-left: 20%;
}
.green1{
grid-row: 2;
background-color: green;
width: 80%;
height: 33px;
margin-left: 20%;
padding-top: 2px;
}
.blue1{
grid-row: 3;
background-color: blue;
width: 80%;
height: 32px;
margin-left: 20%;
}
.Row8{
    height: 100px;
    width: 100%;
    background-color: green;
    display: grid;
}
.orange{
    width: 80px;
    height: 100px;
    grid-column: 1;
    background-color:orange;
}
.orange1{
 width: 80px;
 height: 100px;
 background-color: orange;
 grid-column: 2;
}
.Row9{
    width: 100%;
    height: 100px;
    background-color: orange;
    display: grid;
}
.greenex{
    width: 40px;
    height: 100px;
    grid-column: 4;
    background-color: green;
}
.greenex1{
    width: 40px;
    height: 100px;
    grid-column: 8;
    background-color: green;
}
img{
height: 50px;
width: 50px;
} 
a{
margin: 40px;
font-size: 50px;
text-decoration: none;
font-weight: 10px;
}
.container1{
text-align: center;
}